DATABASE_URL=postgresql://postgres:postgres@localhost:5433/scrawn
BETTER_AUTH_URL=http://localhost:3000
SCRAWN_BASE_URL=http://localhost:8069
SCRAWN_HTTP_URL=http://localhost:8070
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=

MASTER_API_KEY=
SESSION_PASSWORD=
